extends ../../layout/default.pug
include ../../mixins/pagination.pug
include ../../mixins/test.pug

block main
  br
  .search-wrapper.d-flex.align-items-center
    input(type="text" class="form-control search-box-test" tim-kiem-test placeholder="---Tìm kiếm---" value=keyword)
    button.btn.btn-light(btn-loc-test) Lọc
  br
  div.row
    div.col-12.col-md-6.text-md-end
      h4.d-inline-block.mb-0(style="font-weight:bold;font-size:28px;") Danh sách bài thi
    div.col-12.col-md-6.text-md-start.d-flex.align-items-center.justify-content-end
      div(style="margin-left: auto;")
        span(style="font-size: 20px; margin-right: 20px;") Tính thời gian
        label.switch(style="margin-right: 20px;")
          input#time-toggle(type="checkbox" checked)
          span.slider.round
  .test-list
    if (tests === null)
      p Không có bài thi nào
    else
      each test in tests
        +testMixin(test)
  +pagination(pagination)

  script.
    document.addEventListener("DOMContentLoaded", function() {
        var timeToggle = document.getElementById('time-toggle');

        timeToggle.addEventListener('change', function() {
            if (this.checked) {
                localStorage.setItem('time', 1);
            } else {
                localStorage.setItem('time', 0);
            }
        });
        var timeState = localStorage.getItem('time');
        if(timeState === '1') {
            timeToggle.checked = true;
        } else {
            timeToggle.checked = false;
        }
        if (timeState === '1') {
            timeToggle.checked = true;
        } else {
            timeToggle.checked = false;
        }
    });
