mixin floating-chat(room)
    //- - console.log(room)
    .floating-chat-button#chat-button(onclick=`loadMessage('${room}')`)
        i.fa.fa-comments(aria-hidden="true")
    #chat-window
        #chat-header
            span.chat-title Hỗ trợ kỹ thuật
            button#close-button
                i.fa.fa-times(aria-hidden="true")
        ul#chat-messages
        #chat-footer
            .text-box(contenteditable="true", disabled="true")
            button#send-msg-button Send
