doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Error
    link(rel="stylesheet", href="css/404.css")
  body
    .face
        .band
            .red
            .white
            .blue
        .eyes
        .dimples
        .mouth
    h1 Oops! Something went wrong!
    .btn Return to Home