include ../mixins/itemSlider.pug
.sidebar
  .sidebar-inner
    .sidebar-logo
          .peers.ai-c.fxw-nw
            .peer.peer-greed
              a(class="sidebar-link td-n" href="index.html")
                .peers.ai-c.fxw-nw
                  .peer
                    .logo
                      img(src="assets/static/images/logo.png" alt="")
                  .peer.peer-greed
                    h5(class="lh-1 mB-0 logo-text") User
            .peer
              .mobile-toggle.sidebar-toggle
                a(href="" class="td-n")
                  i(class="ti-arrow-circle-left")
    ul.sidebar-menu.scrollable.pos-r
        +normal-item('Danh sách bài thi', 'ti-home c-blue-500', 'index.html')
        +item-arrow('Kết quả', 'ti-harddrives c-blue-500',
            [
                {title: 'Kết quả bài thi', href: '/user/result/test'},
                {title: 'Kết quả sinh viên', href: '/user/result/student'}
            ])
        +item-arrow('Thống kê', 'ti-bar-chart c-blue-500',
            [
                {title: 'Thống kê bài thi', href: 'javascript:void(0);'},
                {title: 'Thống kê sinh viên', href: 'javascript:void(0);'}
            ])
