include ../mixins/itemSlider.pug
.sidebar( slide-bar-item )
  .sidebar-inner
    .sidebar-logo
          .peers.ai-c.fxw-nw
            .peer.peer-greed
              a(class="sidebar-link td-n" href="/")
                .peers.ai-c.fxw-nw
                  .peer
                    .logo
                      img(src="assets/static/images/logo.png" alt="")
                  .peer.peer-greed
                    h5(class="lh-1 mB-0 logo-text" name-admin) PTIT QUIZ
            .peer
              .mobile-toggle.sidebar-toggle
                a(href="" class="td-n")
                  i(class="ti-arrow-circle-left")
    ul.sidebar-menu.scrollable.pos-r
        +item-arrow('Danh sách bài thi', 'ti-home c-red-500',
            [
                {title: 'Bài thi trắc nghiệm', href: '/practice/tn'},
                {title: 'Bài tập lập trình', href: '/practice/code'}
            ])
        +item-arrow('Kết quả', 'ti-harddrives c-red-500',
            [
                {title: 'Bài thi trắc nghiệm', href: '/result/tn'},
                {title: 'Bài tập lập trình', href: '/result/code'}
            ])
       
