extends ../../layout/default.pug
include ../../mixins/pagination.pug

block main
  .row.align-items-center.justify-content-between.mb-6
    .search-wrapper.d-flex.align-items-left.ml-2
        input( type="text" class="form-control search-box-2" tim-kiem-stu placeholder="---Tìm kiếm---" value=keyword)
        button.btn.btn-light(btn-loc-stu) Lọc
  hr
  h5 Danh sách bài thi đã làm
  table(class="table table-striped")
    thead
      tr
        th ID
        th Problem
        th Status
        th Chi tiết
    tbody
        each submit, index in submitList
            tr
            td #{submit.MaSubmit}
            td #{submit.TenVanDe}
            td #{submit.TrangThai}
            td
                a.btn.btn-primary(btn-detail-submit idSubmit = submit.MaSubmit ) Xem source
  +pagination(pagination)