/* Floating Chat Window */
#chat-window {
    overflow-y: auto;
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 9998;
}

/* Chat Messages */
#chat-messages {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 420px;
    overflow-y: auto;
}

.bgc-primary {
    color: white !important;
    background-color: #ad171c !important;
}

.message {
    display: flex;
    /* max-width: 50%; */
}

/* Floating Chat Header */
#chat-header {
    background-color: #ad171c;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
}



/* Tin nhắn của người gửi (self) */
.self-message {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: 5px;
    padding: 10px;
    background-color: #ad171c;
    color: #fff;
    border-radius: 30px;

    width: fit-content;
    overflow-y: auto;
    max-width: 50%;

    word-wrap: break-word;
    /* IE 5.5-7 */
    white-space: -moz-pre-wrap;
    /* Firefox 1.0-2.0 */
    white-space: pre-wrap;

}

/* Tin nhắn của người nhận (other) */
.other-message {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: auto;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
    /* display: inline-block;
    word-break: break-all; */
    overflow-y: auto;
    max-width: 50%;
    width: fit-content;
    word-wrap: break-word;
    /* IE 5.5-7 */
    white-space: -moz-pre-wrap;
    /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}


/* Chat Footer */
#chat-footer {
    position: absolute;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* Text Box */
.text-box {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

/* Send Button */
#send-msg-button {
    width: 2rem;
    height: 2rem;
    background-color: #ad171c;
    color: #fff;
    cursor: pointer;
    min-width: 0px !important;
}


#chatt-footer {
    /* margin-top: 5px; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 10px; */
}