.default-font {
    font-family: open sans, sans-serif !important;
    margin-bottom: 0 !important;

}

.ptit-color {
    background-color: rgb(195, 43, 43);
}

.add-new-student,
.edit-student {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-new-student-container,
.edit-student-container {
    /* position: fixed; */
    width: 600px;
    height: 600px;
    margin: 100px auto;
    padding: 80px;

    background-color: #fffbfb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.add-new-student-container h1,
.edit-student-container h1 {
    font-size: 26px;
    /* margin-left: 100px; */
    margin-bottom: 20px;
    color: #000;
}

.add-new-student-container label,
.edit-student-container label {
    display: block;
    margin-bottom: 3px;
}

.add-new-student-container input,
.edit-student-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-new-student-container button,
.edit-student-container button {
    margin-top: 20px;
    margin-right: 20px;
}

.medium-size {
    font-size: 15px !important;
}

.mbi {
    margin-bottom: 10 !important;
}

.badge {
    --bs-badge-padding-x: 0.9em;
    --bs-badge-padding-y: 0.55em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.45rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    /* font-size: var(--bs-badge-font-size); */
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.bg-gradient-primary {
    background-image: linear-gradient(310deg, #7928CA 0%, #FF0080 100%);
}

.bg-gradient-secondary {
    background-image: linear-gradient(310deg, #627594 0%, #A8B8D8 100%);
}

.bg-gradient-success {
    background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.bg-gradient-info {
    background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
}

.bg-gradient-warning {
    background-image: linear-gradient(310deg, #f53939 0%, #fbcf33 100%);
}

.bg-gradient-danger {
    background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}


.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ms-auto {
    margin-left: auto !important;
}


.card {
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.card .card-header {
    padding: 1.5rem;
}

.card .card-body {
    /* font-family: "Open Sans"; */
    padding: 1.5rem;
    background-color: #f8f9fa;
}

#myAlert {
    display: none;
    position: fixed;
    top: 10px;
    /* Điều chỉnh khoảng cách từ trên xuống */
    right: 10px;
    /* Điều chỉnh khoảng cách từ phải sang trái */
    z-index: 1000;
    /* Đảm bảo hộp thoại hiển thị trên cùng */
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.btn2 {
    display: flex;
    /* justify-content: center; */
    /* margin-bottom: 1rem; */
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
    background-size: 150%;
    background-position-x: 25%;
    padding: 0 !important;
}

.fz-16 {
    font-size: 16px !important;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    box-shadow: none;
}

.text-danger {
    color: #ea0606 !important;
}

.text-primary {
    color: #cb0c9f !important;
}

.text-secondary {
    color: #8392AB !important;
}

.text-success {
    color: #82d616 !important;
}

.text-info {
    color: #17c1e8 !important;
}

.text-warning {
    color: #fbcf33 !important;
}

.text-danger {
    color: #ea0606 !important;
}

.text-light {
    color: #e9ecef !important;
}

.text-dark {
    color: #0f1010 !important;
}

.text-white {
    color: #fff !important;
}

.text-body {
    color: #67748e !important;
}

.text-muted {
    color: #6c757d !important;
}

.text-end {
    text-align: right !important;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}

.text-gradient.text-danger {
    background-image: linear-gradient(310deg, #D60808, #FF6690);
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 1;
}

.text-gradient.text-primary {
    background-image: linear-gradient(310deg, #7928CA, #FF0080);
}

.text-gradient.text-info {
    background-image: linear-gradient(310deg, #2152FF, #21D4FD);
}

.text-gradient.text-success {
    background-image: linear-gradient(310deg, #17AD37, #C1E823);
}

.text-gradient.text-warning {
    background-image: linear-gradient(310deg, #F53939, #FBCF33);
}

.text-gradient.text-danger {
    background-image: linear-gradient(310deg, #D60808, #FF6690);
}

.text-gradient.text-dark {
    background-image: linear-gradient(310deg, #141727, #3A416F);
}

.checked {
    background-color: #c32b2b !important;
    color: #ffff !important;
}