doctype html
html
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/owl.carousel.min.css" )
    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // Style
    link(rel="stylesheet", href="/css/loginUser.css")
    if data && data.title
        title= data.title
    else
         title Thay đổi mật khẩu

  body
    .content
      .container
        .row
          .col-md-6
            img(src="/static/images/undraw_remotely_2j6y.svg", alt="Image", class="img-fluid")
          .col-md-6.contents
            .row.justify-content-center
              .col-md-8
                .mb-4
                  h3(style="text-align: center;") Thay đổi mật khẩu

                  // Form xác định lại mật khẩu
                  form(action="verifyOTP/newPassword", method="post")
                    .form-group
                      input(type="password", class="form-control", id="newPassword", name="newPassword", placeholder="Mật khẩu mới" Required)

                    .form-group
                      input(type="password", class="form-control", id="confirmPassword", name="confirmPassword", placeholder="Xác nhận mật khẩu" Required)

                    input(type="submit", value="Xác nhận", class="btn btn-block btn-primary", style="background-color: #c32b2b; color:white;")
                    input(type="hidden", name="email", value=email)
                  br
                  br
                  if data && data.message
                    p.aler= data.message
