doctype html
html
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/owl.carousel.min.css" )
    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // Style
    link(rel="stylesheet", href="/css/loginUser.css")
    title Đăng ký thành công

  body
    .content
      .container
        .row
          .col-md-6
            img(src="/static/images/undraw_remotely_2j6y.svg", alt="Image", class="img-fluid")
          .col-md-6.contents
            .row.justify-content-center
              .col-md-8
                .mb-4
                  h3(style="text-align: center;") Chúc mừng bạn đăng ký tài khoản thành công
                  br
                  br

                  // Thêm liên kết đến trang đăng nhập
                  div.button               
                   a(href="/user") 
                    button.btn.btn-primary(style="background-color: #c32b2b; color: white;") Đăng nhập tại đây


