doctype html
html
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/owl.carousel.min.css" )
    // Bootstrap CSS
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    // Style
    link(rel="stylesheet", href="/css/loginUser.css")
    title Xác nhận mã OTP

  body
    .content
      .container
        .row
          .col-md-6
            img(src="/static/images/undraw_remotely_2j6y.svg", alt="Image", class="img-fluid")
          .col-md-6.contents
            .row.justify-content-center
              .col-md-8
                .mb-4
                  h3(style="text-align: center") Xác nhận mã OTP
                  br
          
                  

                  // Form nhận mã OTP
                  //- form(action="/forgotPassword/resetPassword/verifyOTP", method="post")
                  //-   .form-group.first
                  //-     input(type="number", class="form-control", id="otp",inputmode="numeric", maxlength="1", name="otp", placeholder="Mã OTP yêu cầu có 6 kí tự số",  Required)

                  //-   input(type="submit", value="Xác nhận", class="btn btn-block btn-primary", style="background-color: #c32b2b; color:white;")
                  form.digit-group(  action ="/forgotPassword/resetPassword/verifyOTP", data-group-name="digits", data-autosubmit="false", autocomplete="off" method="post")
                    input(type="text", id="digit-1", name="digit1", data-next="digit-2")
                    input(type="text", id="digit-2", name="digit2", data-next="digit-3", data-previous="digit-1")
                    input(type="text", id="digit-3", name="digit3", data-next="digit-4", data-previous="digit-2")
                    input(type="text", id="digit-4", name="digit4", data-next="digit-5", data-previous="digit-3")
                    input(type="text", id="digit-5", name="digit5", data-next="digit-6", data-previous="digit-4")
                    input(type="text", id="digit-6", name="digit6", data-previous="digit-5")
                    script(src="/js/user/checkOTP.js")
                    input(type="hidden", name="email", value=email)
                  br
                  if data && data.message
                   p.aler= data.message
                  form(action="/forgotPassword/resetPassword", method="post")
                    input(type="hidden", name="email", value=email)
                    input(type="submit", value="Gửi lại mã OTP", class="btn btn-block btn-primary", style="background-color: #c32b2b; color:white")

